# Python
__pycache__/
*.py[cod]

# Environment
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/
data/processed/

*.nii
*.nii.gz
*.wav
*.csv

# Model checkpoints
checkpoints/
*.pth
*.pt

# Results
logs/
runs/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
