torch>=2.1.0
torchvision>=0.16.0

numpy>=1.26
pandas>=2.1
scipy>=1.11

scikit-learn>=1.3

opencv-python
matplotlib
seaborn

transformers
timm

shap
captum

nibabel
SimpleITK

pyyaml
tqdm

jupyter
notebook
